/* Mobile-first styles */
/* .fullPage {
    width: 100%;
  } */
  
  /* Tablet styles */
  /* @media (min-width: 768px) {
    .fullPage {
      width: 80%;
    }
  } */
  
  /* Desktop styles */
  /* @media (min-width: 1024px) {
    .fullPage {
      width: 60%;
    }
  } */


